arcp==0.2.1
bioblend==0.15.0
boto==2.49.0
certifi==2020.12.5
chardet==4.0.0
galaxy2cwl==0.1.4
gxformat2==0.15.0
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
rocrate==0.3.1
six==1.15.0
urllib3==1.26.4
